<html>
  <head>
    <title>Math</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="content">
      <form action="/formula" method="GET">
        <textarea name="formula"></textarea>
        <div class="actions">
          <button>Render</button>
        </div>
      </form>
    </div>
  </body>
</html>
