body {
  font: 14/21px "Helvetica Neue", sans-serif; 
}

#content {
  margin: 10% auto;
  width: 400px;
}

#content textarea {
  width: 100%;
  height: 5em;
  font-size: 1.2em;
  padding: 10px;
}

#content .actions {
  margin-top: 1em;
  text-align: right;
}

#output {
  background-color: #f1f1f1;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 10px;
}

#url {
  width: 300px;
  padding: 5px;
}
